@CHARSET "UTF-8";
body {
    overflow: hidden;
    font-family: 'Microsoft Yahei';
    margin: 0;
    padding: 0;
    background-color:#f1f2f7;
}

.win-back {
    width: 100%;
    background: url("images/000-40.png");
    _background: none;
    height: 700px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001 !important;
}

.win-main label {
    color: #333 !important;
    width: 100%;
}

.win-main {
    width: 300px;
    height: auto;
    display: none;
    position: absolute;
    z-index: 1002;
    border-radius: 4px;
    background: #F8F8F8;
    padding: 20px;
}

.win-main input {
    width: 260px !important;
    height: 25px;
}

.win-main input, .win-main label, .win-main button {
    margin-top: 10px;
}

.close-icon {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 21px;
    height: 21px;
    background: url("images/close-icon.png") no-repeat;
    _background: none;
    display: block;
    z-index: 1003;
}

.close-icon:hover {
    background: url("images/close-icon.png") 0 -26px no-repeat;
    _background: none;
}


.form-item {
    width: 300px;
    height: 22px;
    margin-bottom: 15px;
    _margin-bottom: 9px;
    margin-left:40px;
	height: 40px;
	border: 1px solid #ececec;
	color: #999;
	font-size:14px;
	float:left;
}
.form-item span{
	display:block;
	float:left;
	width:50px;
	height:40px;
	padding-left:5px;
	line-height:40px;
}
.fl-label {
    color: #fff;
    width: 50px;
    display: block;
    float: left;
    height: 22px;
    line-height: 25px;
    font-size: 12px;
}

.form-item input {
    width: 238px;
    height: 37px;
    line-height: 40px;
    border:none;
    float: left;
    outline: none;
    color: #999;
    padding-left: 5px;
    font-size: 14px;
}

.form-item .vcode {
    width: 78px !important;
}

.vcodeimg {
    width: 90px;
    height: 42px;
    margin:0 0 0 10px !important;
    float:left;
    display:block;
}

.bottom-copyright {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.allerrors{
	position: absolute;
    width:300px;
    left:40px;
    top:5px;
	height:30px;
}
.error {
    color: red;
    font-size: 12px;
    background: url("images/error_small.png") 0 center no-repeat;
    float:left;
}
.client-status {
    margin: 0 0 0 2px;
    color: red;
    font-size: 12px;
    float:left;
}
button {
    cursor: pointer;
    outline: none;
}

.btn-chg-ok {
    width: 73px;
    height: 32px;
    border: none;
    margin-left: 12px;
    background: url("images/btn_qr.png") no-repeat;
}

.btn-chg-ok:hover {
    background: url("images/btn_qr_over.png") no-repeat;
}

.btn-chg-close {
    width: 73px;
    height: 32px;
    border: none;
    margin-left: 12px;
    background: url("images/btn_close.png") no-repeat;
}

.btn-chg-close:hover {
    background: url("images/btn_close_over.png") no-repeat;
}

.input-error {
    border: 1px solid red !important;
}
/***********广东风格*****************/
.login-top{
	width:100%;
	height:70px;
	position: relative;
	background:#fff;
}
.login-logo{
	position:absolute;
	width:550px;
	left:70px;
	height:70px;
	background:url("images/logo_!.png") 0 center no-repeat;
}
.login-top-right{
	position:absolute;
	width:530px;
	height:70px;
	right:0;
	background:url("images/anwen.png") no-repeat;
}
.login-center{
	width:100%;
	height:545px;
	background:url("images/back.jpg") 80px center no-repeat;
	position: relative;
}
.login-inputs{
	width:380px;
	height:400px;
	right:170px;
	position: absolute;
	top:55px;
	background:#fff;
	padding-top:30px;
}
.login-bottom{
	height:45px;
	width:100%;
	background:url("images/bottom.png") center 0 no-repeat;
	text-align: center;
	position: absolute;
	bottom:0;
	line-height: 45px;
	color:#fff;
}
.btn-sbumit{
	width:300px;
	height:50px;
	background-color:#00428e;
	border:none;
	color:#fff;
	margin:15px 0 0 40px;
	font-size:22px;
	font-weight:bold;
}
.btn-sbumit:hover{
	background-color:#1863ba;
}
.vcode-label{
	margin:0 0 0 20px;;
	height:40px;
	width:40px;
	display:block;
	float:left;
	font-size:12px;
	cursor: pointer;
	line-height:20px;
}
.vcode-label:hover{
	text-decoration: underline;
	color:blue;
}
.form-tip{
	width:300px;
	height:30px;
	margin:15px 0 0 40px;
	float:left;
}
.form-tip .btn-chgpwd{
	width:80px;
	display:block;
	float:right;
	color:#333;
	font-size:14px;
	text-align: right;
}
.login-tools{
	margin-top:15px;
	width:100%;
	height:60px;
	float:left;
}
.login-tools a{
	display:block;
	float:left;
	width:60px;
	height:95px;
	margin-left:28px;
	position: relative;
	text-decoration: none;
}
.login-tools a span{
	width:100%;
	height:35px;
	line-height:35px;
	color:#999;
	text-align: center;
	position: absolute;
	bottom:0;
	font-size:12px;
}
.login-tools a:hover span{
	width:100%;
	color:#314FA5;
}
.tool-icon-01{
	background:url("images/icon-sc.png") no-repeat;
}
.tool-icon-01:hover{
	background:url("images/icon-sc-hover.png") no-repeat;
}
.tool-icon-02{
	background:url("images/icon-home.png") no-repeat;
}
.tool-icon-02:hover{
	background:url("images/icon-home-hover.png") no-repeat;
}
.tool-icon-03{
	background:url("images/icon-down.png") no-repeat;
}
.tool-icon-03:hover{
	background:url("images/icon-down-hover.png") no-repeat;
}
.tool-icon-04{
	background:url("images/icon-cust.png") no-repeat;
}
.tool-icon-04:hover{
	background:url("images/icon-cust-hover.png") no-repeat;
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
 -webkit-text-fill-color: #333;
}
.curdate{
	margin:20px 50px 0 0;
	height:30px;
	line-height:30px;
	width:280px;
	float:right;
	color:#333;
}