<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-4.1.xsd">
	<bean id="MedOrgComQueryService"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_DB}/hygeia_db/remoting/MedOrgComQueryService" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.comm.service.MedOrgComQueryVS" />
	</bean>
	<bean id="feeInfoVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_DB}/hygeia_db/remoting/feeInfoVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.comm.service.FeeInfoVS" />
	</bean>
	<bean id="diagnoseSaveBizService"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/diagnoseSaveBizService" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.DiagnoseSaveBizService" />
	</bean>
	<bean id="diagnoseBatchChargeVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/diagnoseBatchChargeVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.DiagnoseBatchChargeVS" />
	</bean>
	<bean id="chooseDiagnoseDBVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/chooseDiagnoseDBVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.ChooseDiagnoseBizDBVS" />
	</bean>
	<bean id="choosePersonVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/choosePersonVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.comm.service.ChoosePersonVS" />
	</bean>
	<bean id="settlementclinic"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/settlementclinic" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.settlement.service.SettlementClinic" />
	</bean>
	
	<bean id="settlementcliniccenter"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/settlementcliniccenter" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.settlement.service.SettlementClinicNewCenter" />
	</bean>
	
	<bean id="ElectronicPrescriptionService"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/ElectronicPrescriptionService" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.ElectronicPrescriptionService" />
	</bean>
	<bean id="catalogMatchImportVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/catalogMatchImportVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.CatalogMatchImportVS" />
	</bean>
	<bean id="cloudChooseDiagnoseDBVS"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/cloudChooseDiagnoseDBVS" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.CloudChooseDiagnoseBizDBVS" />
	</bean>
	<bean id="asnyHandPhotoService"
		class="com.powersi.hygeia.comm.service.HygeiaServiceFactoryBean">
		<property name="serviceUrl"
			value="http://@{HYGEIA_ESB}/hygeia_esb/remoting/asnyHandPhotoService" />
		<property name="serviceInterface"
			value="com.powersi.biz.medicare.diagnose.service.AsnyHandPhotoService" />
	</bean>
</beans>